<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Code Test</div>
        <div class="list-group list-group-flush">
            <a href="{{ url_for("logout")}}" class="list-group-item list-group-item-action bg-light">Выйти</a>
            <a class="list-group-item bg-light">Вы вошли как {{ cuser.surname + " " + cuser.name + " " + cuser.patronymic }}</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2  class="mt-4">Список предметов</h2>

                    <table class="table text-center mt-4">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col">Преподаватель</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                        <tr>
                            <th scope="row">{{ course[0] }}</th>
                            <td>{{ course[1] }}</td>
                            <td>{{ course[2] }}</td>
                            <td><a href={{ url_for("student_course_labs", cid=course[0]) }}>Лаб. работы</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <span class="d-block mb-2">Страница 1 из 1</span>
                        <button type="button" class="btn btn-primary" disabled>Предыдущая</button>
                        <button type="button" class="btn btn-primary">Следующая</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
</body>
</html>