<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Сode Test</div>
        <div class="list-group list-group-flush">
            <a href={{ url_for('courses') }} class="list-group-item list-group-item-action bg-light">Предметы</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1 class="mt-4 mb-3">Добавление группы студентов</h1>
                    <form method="post" enctype=multipart/form-data >
                        <h3>Загрузка CSV файла с группой</h3>
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="groupCodeInput">Имя группы</label>
                            <input type="text" name="groupCodeInput" class="form-control" placeholder="Имя группы">
                        </div>
                        <p>CSV файл должен содержать данные в следующем порядке c разделителем ";":</p>
                        <p>Начало файла:</p>
                        <p>last_name;first_name;patronymic</p>
                        <p>'Фамилия';'Имя';'Отчество'</p>
                        <p>...</p>
                        <div class="custom-file mb-2">
                            <input type="file" name="groupList" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Выберите файл</label>
                        </div>

                        <button type="submit" name="createGroup" class="btn btn-primary">Загрузить</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <!-- <strong>Title</strong> --> {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
</body>
</html>