<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Code Test</div>
        <div class="list-group list-group-flush">
            <a href="{{ url_for("logout")}}" class="list-group-item list-group-item-action bg-light">Выйти</a>
            <a class="list-group-item bg-light">Вы вошли как {{ cuser.surname + " " + cuser.name + " " + cuser.patronymic }}</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1 class="mt-4">Обновление данных преподавателя</h1>
                    <form method="post" id="registration">
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="nameInput">Имя</label>
                            <input type="text" disabled id="nameInput" class="form-control" placeholder={{ teacher.name }}>
                        </div>
                        <div class="form-group">
                            <label for="surnameInput">Фамилия</label>
                            <input type="text" disabled id="surnameInput" class="form-control" placeholder={{ teacher.surname }}>
                        </div>
                        <div class="form-group">
                            <label for="patronymicInput">Отчество</label>
                            <input type="text" disabled id="patronymicInput" class="form-control" placeholder={{ teacher.patronymic }}>
                        </div>
                        <div class="form-group">
                            <label for="facultyInput">Факультет</label>
                            <input type="text" disabled id="facultyInput" class="form-control" placeholder="{{ teacher.faculty }}">
                        </div>
                        <div class="form-group">
                            <label for="departmentInput">Кафедра</label>
                            <input type="text" disabled id="departmentInput" class="form-control" placeholder="{{ teacher.department }}" >
                        </div>
                        <div class="form-group">
                            <label for="loginInput">Логин</label>
                            <input type="text" name="loginInput" class="form-control" placeholder={{ teacher.login }}>
                        </div>
                        <div class="form-group">
                            <label for="emailInput">E-mail</label>
                            <input type="email" name="emailInput" class="form-control" placeholder={{ teacher.email }}>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Пароль</label>
                            <input type="password" class="form-control" name="inputPassword" placeholder="Пароль">
                        </div>
                        <div class="form-group">
                            <label for="inputRepassword">Повтор пароля</label>
                            <input type="password" class="form-control" name="inputRepassword" placeholder="Повтор пароля">
                        </div>
                        <button type="submit" name="updateForm"  class="btn btn-primary">Обновить</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <!-- <strong>Title</strong> --> {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
</body>
</html>