<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Code Test</div>
        <div class="list-group list-group-flush">
            <a href="{{ url_for("course_list", id=teacher.id) }}" class="list-group-item list-group-item-action bg-light">Предметы</a>
            <a href="{{ url_for("group_list", tid=teacher.id)}}" class="list-group-item list-group-item-action bg-light">Группы</a>
            <a href="{{ url_for("all_attempts", tid=teacher.id) }}" class="list-group-item list-group-item-action bg-light">Решения</a>
            <a href="{{ url_for("logout")}}" class="list-group-item list-group-item-action bg-light">Выйти</a>
            <a class="list-group-item bg-light">Вы вошли как {{ cuser.surname + " " + cuser.name + " " + cuser.patronymic }}</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2  class="mt-4">Тесты варианта №{{ var.number }} для лабораторной работы {{ lab.title }} <button type="submit" onClick="window.location.replace('{{ url_for("create_test", tid=teacher.id, lid=lab.id, vid=var.id) }}')" class="btn btn-primary">Создать</button></h2>

                    <table class="table text-center mt-4">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Входные данные</th>
                            <th scope="col">Выходные данные</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in var.tests %}
                        <tr>
                            <th scope="row">{{ test.id }}</th>
                            <td>{{ test.input }}</td>
                            <td>{{ test.output }}</td>
                            <td>
                                <a href="{{ url_for('test_edit', tid=teacher.id, lid=lab.id, vid=var.id, tsid=test.id) }}"><i class="material-icons">
                                    create
                                </i></a>
                                <a href="/" onClick="setId({{ test.id }}); return false" data-toggle="modal" data-target="#deleteModal"><i class="material-icons">
                                    delete
                                </i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <span class="d-block mb-2">Страница 1 из 1</span>
                        <button type="button" class="btn btn-primary" disabled>Предыдущая</button>
                        <button type="button" class="btn btn-primary">Следующая</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удаление записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="sendRequest({{ teacher.id }}, {{ cid }}, {{ lab.id }}, {{ var.id }}); return false;">Подтвердить</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
<script type="application/javascript">
    var current_id = 0;
    function setId(id)
    {
        current_id = id;
        $(".modal-body").html('Вы действительно хотите удалить тест ID= ' + current_id + '?');
    }
    function sendRequest(tid, cid, lid, vid) {
        $.get("/teacher-" + tid + "/course-" + cid +"/lab-" + lid +"/variant-" + vid + "/test-" + current_id + "/delete", () => {
           $("#deleteModal").modal('hide');
        window.location.reload();
        });
    }
</script>
</body>
</html>