<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Code Test</div>
        <div class="list-group list-group-flush">
            <a href={{ url_for("course_list", id=teacher.id) }} class="list-group-item list-group-item-action bg-light">Предметы</a>
            <a href={{ url_for("group_create")}} class="list-group-item list-group-item-action bg-light">Создать группу</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2 class="mt-4">Создание варианта лабораторной работы {{ lab.title }}</h2>
                    <form method="post" id="varCreation">
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="numberInput">Номер</label>
                            <input type="text" name="numberInput" id="numberInput" class="form-control" placeholder="Номер">
                        </div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for obj in data %}
                          <li class="nav-item">
                            <a class="nav-item nav-link" id="{{ obj[0] }}-tab" role="tab" aria-controls="{{ obj[0] }}" data-toggle="tab" href="#{{ obj[0] }}">{{ obj[0] }}</a>
                          </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for obj in data %}
                              <div id="{{ obj[0] }}" class="tab-pane fade" role="tabpanel"  aria-labelledby="{{ obj[0] }}-tab">
                                    <div id="student-selector" class="form-group">
                                        <label>Студент</label>
                                        <div class="student-selector d-flex">
                                            <select class="select-group custom-select mb-2" data-index="0" name="student">
                                                <option selected>Студент</option>
                                                {% for student in obj[1] %}
                                                    <option value={{ student.id }}> {{ student.surname + ' ' + student.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <i class="material-icons mt-2 ml-2 delete-course" style="color: red; cursor: pointer;">
                                                clear
                                            </i>
                                        </div>
                                    </div>
                              </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="nameInput">Название</label>
                            <input type="text" name="nameInput" id="nameInput" class="form-control" placeholder="Название">
                        </div>
                        <div class="form-group">
                            <label for="descriptionInput">Описание</label>
                            <input type="text" name="descriptionInput" id="descriptionInput" class="form-control" placeholder="Описание">
                        </div>
                        <button type="submit" name="create" class="btn btn-primary">Обновить</button>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <!-- <strong>Title</strong> --> {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
<script type="application/javascript">
    $("body").on("change", "select.select-group", (el) => {
        let element = $(el.target);
        let index = parseInt(element.attr("data-index")) + 1;
        if ($("select.group-selector[data-index=" + index + "]").length === 0) {
            let new_el = element.parent().clone();
            new_el.find("select").attr("data-index", index);
            $("#group_selectors").append(new_el);
        }
    });

    $("body").on("click", "i.delete-course", (el) => {
        let element = $(el.target);
        element.parent("div.group-selector")[0].remove();
    });
</script>
</body>
</html>