{% extends "base.html" %}
{% set cuser = current_user %}
{% import 'macro.html' as macros %}
{% set title="Администрирование" %}

{% block content %}
    <div class="col-lg-12 text-center">
        <h2 class="mt-5">Создание учетной записи преподавателя</h2>
        <div class="row justify-content-md-center">
            <div class="col-6">
                {% call macros.render_form(form, action_url=url_for('create_teacher') , action_text='Создать', class_='teacher-form') %}
                    {{ macros.render_field(form.surname, label_visible=false, placeholder='Фамилия', type='text') }}
                    {{ macros.render_field(form.name, label_visible=false, placeholder='Имя', type='text') }}
                    {{ macros.render_field(form.patronymic, label_visible=false, placeholder='Отчество', type='text') }}
                    {{ macros.render_field(form.faculty, label_visible=false, placeholder='Кафедра', type='text') }}
                    {{ macros.render_field(form.reg_code, label_visible=false, placeholder='Регистрационный код', type='text')}}
                {% endcall %}
            </div>
        </div>
        <ul class="list-unstyled">
          <li>Bootstrap 4.2.1</li>
          <li>jQuery 3.3.1</li>
        </ul>
    </div>

{% endblock content %}