<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Code Test</div>
        <div class="list-group list-group-flush">
            <a href="{{ url_for("admin") }}" class="list-group-item list-group-item-action bg-light">Администрирование</a>
            <a href="{{ url_for("create_teacher") }}" class="list-group-item list-group-item-action bg-light">Создать преподавателя</a>
            <a href="{{ url_for("group_create") }}" class="list-group-item list-group-item-action bg-light">Создать группу</a>
            <a href="{{ url_for("logout")}}" class="list-group-item list-group-item-action bg-light">Выйти</a>
            <a class="list-group-item bg-light">Вы вошли как {{ cuser.surname + " " + cuser.name + " " + cuser.patronymic }}</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1 class="mt-4">Студенты группы {{ group.code }} <button type="submit" onClick="window.location.replace('{{ url_for("admin_add_student") }}')" class="btn btn-primary">Добавить</button></h1>

                    <table class="table text-center mt-4">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Отчество</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                        <tr>
                            <th scope="row">{{ student.id }}</th>
                            <td>{{ student.surname }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.patronymic }}</td>
                            <td>
                                <a href="{{ url_for('admin_student_edit', id=student.id) }}"><i class="material-icons">
                                        create
                                </i></a>
                                <a href="/"onClick="setId({{ student.id }}, '{{ student.fullname }}'); return false" data-toggle="modal" data-target="#deleteModal"><i class="material-icons">
                                    delete
                                </i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <span class="d-block mb-2">Страница 1 из 1</span>
                        <button type="button" class="btn btn-primary" disabled>Предыдущая</button>
                        <button type="button" class="btn btn-primary">Следующая</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удаление записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Вы действительно хотите удалить запись?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="sendRequest(); return false;">Подтвердить</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
</body>
<script type="application/javascript">
    var current_id = 0;
    function setId(id, fullname)
    {
        current_id = id;
        $(".modal-body").html('Вы действительно хотите удалить студента ' + fullname + '?');
    }
    function sendRequest() {
        $.get("/admin/student-" + current_id + "/delete", () => {
           $("#deleteModal").modal('hide');
        window.location.reload();
        });
    }
</script>
</html>