<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Code Test</div>
        <div class="list-group list-group-flush">
            <a href="{{ url_for("admin") }}" class="list-group-item list-group-item-action bg-light">Администрирование</a>
            <a href="{{ url_for("create_teacher") }}" class="list-group-item list-group-item-action bg-light">Создать преподавателя</a>
            <a href="{{ url_for("group_create") }}" class="list-group-item list-group-item-action bg-light">Создать группу</a>
            <a href="{{ url_for("logout")}}" class="list-group-item list-group-item-action bg-light">Выйти</a>
            <a class="list-group-item bg-light">Вы вошли как {{ cuser.surname + " " + cuser.name + " " + cuser.patronymic }}</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h1 class="mt-4">Удаление данных преподавателя {{ current_teacher.fullname }}</h1>
					<p>Для сохранения существующих данных связанных с преподавателем, выберите преподавателя с которым
                    необходимо связать данные. В противном случае нажмите кнопку "Удалить!", все связанные с удаляемым
                    преподователем данные будут утеряны!</p>
                    <form method="post" id="update">
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="groupInput">Преподаватель</label>
                            <select class="select-group custom-select mb-2" data-index="0" name="teacher">
                                <option selected>Преподаватель</option>
                                {% for teacher in teachers %}
                                <option value={{ teacher.id }}> {{ teacher.fullname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" name="delete_all" class="btn btn-primary">Удалить!</button>
                        <button type="submit" name="delete_and_copy"  class="btn btn-primary">Перенести данные и удалить!</button>
                    </form>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <!-- <strong>Title</strong> --> {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
</body>
</html>