<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{ url_for('static', filename="css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css")}}>
    <script src={{ url_for('static', filename="js/bootstrap.min.js")}}></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Ванек не толстый (c)</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- end sidebar -->

    <!-- content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!-- navigation-top -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end navigation-top -->

            <div class="row">
                <div class="col-4">
                    <h1 class="mt-4">Авторизация</h1>

                    <form method="post" id="login">
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="loginInput">Логин</label>
                            <input type="text" class="form-control" name="inputLogin" placeholder="Логин">
                            <small id="loginInput" class="form-text text-muted">Ваш логин для входа в систему</small>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Пароль</label>
                            <input type="password" class="form-control" name="inputPassword" placeholder="Пароль">
                        </div>
                        <button type="submit" name="authForm" class="btn btn-primary">Войти</button>
                    </form>
                </div>
                <div class="col-1">

                </div>
                <div class="col-4">
                    <h1 class="mt-4">Регистрация</h1>
                    <form method="post" id="reg">
                        <div class="form-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <label for="codeInput">Код регистрации</label>
                            <input type="text" class="form-control" name="inputCode" placeholder="Код">
                            <small id="codeInput" class="form-text text-muted">Ваш логин для входа в систему</small>
                        </div>
                        <button type="submit" name="regForm" class="btn btn-primary">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- end content -->

    <!-- footer -->

    <!-- end footer -->
</div>
</body>
</html>